// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

// Colors
$primary: #130f40;
$secondary: #ECEFFF;
$accent: #EA2027;
$info: #0652DD;
$gray: #52657b;

// font
$font-size-root: 20px;




